# env
.env
.env_local
.env_prod


# virtual env
.venv/
venv/
/.idea


# cach files
__pycache__/
*.py[cod]

.env.test

/.vscode

# python
.pytest_cache/
.coverage
htmlcov/

# django build artifacts
/staticfiles/
/media/

# vendor source maps (не потрібні в рантаймі)
*.map

# os
.DS_Store

*.bak
